@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,400;1,100;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

:root{
    --cor01: #CFCCD9;
    --cor02: #F2F2F2;
    --cor03: #A6A28F;
    --cor04: #551A8B;
    --cor05: #0D0D0D;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--cor01);
}

/*header*/
h1{
    color: var(--cor05);
}

header {
    background-color: var(--cor03);
    padding: 10px;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu a {
    color: var(--cor05);
    text-decoration: none;
    margin-right: 20px;
  }
  
  .menu a:hover, .icon:hover {
    color: var(--cor02);
  }
  
  .icon {
    display: none;
    color: var(--cor05);
    text-decoration: none;
    margin-right: 20px;
  }
.title{
    padding: .5em;
    text-align: center;
    margin: 8px 0;
    font-size: 1.1em;
    color: var(--cor05);
}

div.container-slides{
    margin: 0 auto;
    width: 98vw;
 
    overflow: hidden;
}
div.slides{
    width: 400%;

    display: flex;
}
div.slides input{
    display: none;
}
div.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
div.slide img{
    width: 98vw;
}
div.manual-nav{
    position: absolute;
    margin-top: -25px;
    display: flex;
    justify-content: center;
    width: 98vw;

}
.manual-bnt{
    border: 2px solid var(--cor04);
    padding: 3px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 .17em;
    transition: 1s;
}
.manual-bnt:hover{
    border: 2px solid var(--cor03);
    background-color: var(--cor04);
}
#radio1:checked ~ .first{margin-left: 0;}
#radio2:checked ~ .first{margin-left: -25%;}
#radio3:checked ~ .first{margin-left: -50%;}


/*flex box*/
div.container-categoria{
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.1em;
    border-radius: 50%;
}
.imgCat{
    width: 21vw;
    height: 72%;
}
.categoria{
    max-width: 400px;
    background-color: var(--cor02);
    border-radius: 15px;
    overflow: hidden;
}
.titleCat{
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*flex Produtos*/
h1{
    text-align: center;
    font-weight: normal;
    font-size: 1.7em;
    padding: .55em;
}
div.container-produtos{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
div.produtos img{
    max-width: 300px;
    height: 22vh;
}
div.produtos{
    max-width: 300px;
    max-height: 500px;
    background: var(--cor02);
    overflow: hidden;
    border-radius: 7%;
}
.titleprod, .valor{
    text-indent: .6em;
}
.valor{
    padding-bottom: .2em;
}

/*rodapé*/
footer{
    border-bottom: 0;
    padding: 1rem 1.25rem 4rem;
    background-color: var(--cor03);
    margin-top: 1em;
}
footer img{
    width: 10vw;
}
footer p{
    text-align: left;
    margin-top: 1rem;
}
footer a{
    display: block;
    text-decoration: none;
    color: var(--cor05);
    margin: 2rem 0;
    font-size: 1.5rem;
}
form label{
    font-size: 1.30rem;
}
form input{
    font-size: 1.5rem;
    margin-top: .8rem;
    padding: .5rem;
    width: 100%;
}